#### Read the purchase cost and selling cost of a product and find how much loss/profit you got?

In [3]:
purchase = int(input('Enter purchase cost: '))
selling  = int(input('Enter selling  cost: '))

if purchase < selling:
    print('Profit:', selling - purchase)
else:    
    print('Loss:', purchase - selling)

Enter purchase cost: 90
Enter selling  cost: 90
Loss: 0

#### Read three different numbers from user and find largest of them

In [ ]:
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
num3 = int(input('Enter third number: '))

if num1 > num2:
    if num1 > num3:
        print('Largest:', num1)
    else:
        print('Largest:', num3)
else:
    if num2 > num3:
        print('Largest:', num2)
    else:
        print('Largest:', num3)

#### Read an year from user and find it is leap or not?

In [9]:
year = int(input('Enter year: '))
if year %4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print('Leap Year')  #2000
        else:
            print('Not Leap')  #1900
    else:
        print('Leap Year')  #2024
else:
    print('Not Leap')  #2023

Enter year: 1700
Not Leap

#### Use while loop to print your name 10 times

In [11]:
count = 0
while count < 10:
    print('Tushar')
    count += 1

Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar

#### Find addition of first 10 natural numbers

In [13]:
add = 0
num = 1
while num <= 10:
    add = add + num
    num += 1
    
print(add)

55

#### Find addition of first 10 odd numbers

In [14]:
add = 0
num = 1
while num <= 20:
    add = add + num
    num += 2
    
print(add)

100

#### Use for loop to print your name 10 times

In [18]:
for i in range(10):
    print('Tushar')

Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar

#### Find addition of first 10 natural numbers

In [20]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
add = 0
for i in range(1, 11):
    add += i

print(add)

55

#### Find addition of first 10 odd numbers

In [24]:
add = 0
for i in range(1, 20, 2):
    add += i

print(add)

100

In [25]:
list(range(20,0,-2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

#### List

In [27]:
num = [45, 66, 23, 44, 56, 61]

In [28]:
type(num)

list

In [29]:
num[0]

45

In [30]:
num[-2]

56

In [31]:
num[1:5]

[66, 23, 44, 56]

In [32]:
e = []

In [33]:
num

[45, 66, 23, 44, 56, 61]

In [34]:
num += [35]

In [35]:
num

[45, 66, 23, 44, 56, 61, 35]

In [36]:
num.append(29)

In [37]:
num

[45, 66, 23, 44, 56, 61, 35, 29]

In [38]:
x = [67, 34, 92]

In [39]:
y = x

In [40]:
y

[67, 34, 92]

In [41]:
x.append(23)
x

[67, 34, 92, 23]

In [42]:
y

[67, 34, 92, 23]

In [43]:
id(x)

140021525615360

In [44]:
id(y)

140021525615360

In [45]:
y = x.copy()

In [46]:
y

[67, 34, 92, 23]

In [47]:
id(y)

140021525377728

In [48]:
id(x)

140021525615360

#### tuple

In [50]:
num = (56, 12, 38, 63, 59)

In [51]:
type(num)

tuple

In [52]:
num[3]

63

In [53]:
num[3] =67

TypeError: 'tuple' object does not support item assignment

#### Write a program to sort the higher order list

#### input: [23,12,65,44,32,65,74,12,42,58]
#### output: [23,12,65,44,32,12,42,58,65,74]

In [61]:
num = [23,12,65,44,32,65,74,12,42,58]

In [64]:
x = num[:len(num) // 2]
y = num[len(num) // 2:]
y.sort()
num = x + y
num

[23, 12, 65, 44, 32, 12, 42, 58, 65, 74]

In [67]:
#### Here is list of metallic elements
'''metals = ['aluminium','copper','gold',
'silver','copper','gold','iron','gold','silver',
'copper','copper','gold']

Create a new list which is almost identical to
the original list, which contains the metals in
the same order except element copper'''

"metals = ['aluminium','copper','gold',\n'silver','copper','gold','iron','gold','silver',\n'copper','copper','gold']\n\nCreate a new list which is almost identical to\nthe original list, which contains the metals in\nthe same order except element copper"

In [69]:
metals = ['aluminium','copper','gold',
'silver','copper','gold','iron','gold','silver',
'copper','copper','gold']

In [70]:
new_metals = []
for metal in metals:
    if metal != 'copper':
        new_metals.append(metal)
        
print(new_metals)

['aluminium', 'gold', 'silver', 'gold', 'iron', 'gold', 'silver', 'gold']

#### list compehension

In [72]:
num = [34, 12, 45, 86, 53]

In [74]:
new = [n/2 for n in num]
new

[17.0, 6.0, 22.5, 43.0, 26.5]

In [77]:
new = [n for n in num if n > 40]
new

[45, 86, 53]

In [79]:
new_metals = [metal for metal in metals 
              if metal != 'copper']
print(new_metals)

['aluminium', 'gold', 'silver', 'gold', 'iron', 'gold', 'silver', 'gold']

In [81]:
sent = '''They told that their ages are 23 
25 and 29 respectively.'''
# Find average of ages mentioned in sentence

In [84]:
words = sent.split()
ages = []
for word in words:
    if word.isdigit():
        ages.append(int(word))
        
sum(ages)/len(ages)

25.666666666666668

In [85]:
ages = [int(w) for w in words if w.isdigit()]
sum(ages)/len(ages)

25.666666666666668

#### set

In [87]:
s = {4,6,5,7,6,5,4,4,4,5,7,8,0,7,5,4}

In [88]:
s

{0, 4, 5, 6, 7, 8}

In [89]:
type(s)

set

In [90]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

In [91]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [92]:
s1.intersection(s2)

{4, 5}

In [93]:
s1.difference(s2)

{1, 2, 3}

In [94]:
s2.difference(s1)

{6, 7, 8}

#### dictionary

In [96]:
d = {4:578, 7:268, 10:377, 'a':'apple','x':7288}

In [97]:
d

{4: 578, 7: 268, 10: 377, 'a': 'apple', 'x': 7288}

In [98]:
type(d)

dict

In [99]:
d[4]

578

In [100]:
d[5]

KeyError: 5

In [101]:
d[4] = 457

In [102]:
d

{4: 457, 7: 268, 10: 377, 'a': 'apple', 'x': 7288}

In [103]:
d['z'] = 'zebra'
d

{4: 457, 7: 268, 10: 377, 'a': 'apple', 'x': 7288, 'z': 'zebra'}

In [104]:
t = ()
type(t)

tuple

In [106]:
d={}

In [108]:
type(d)

dict

In [109]:
s.add(2)

In [110]:
s

{0, 2, 4, 5, 6, 7, 8}

#### Functions

In [112]:
# Write a function to find factorial of number

In [113]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact = fact * i
    return fact

num = int(input('Enter a number: '))
print('Factorial is:', factorial(num))

Enter a number: 5
Factorial is: 120

In [121]:
def add(x=5, y=7, z=2):
    a = x + y + z
    return a

print('Call1:', add(8,9,3))
print('Call2:', add(8,9))
print('Call3:', add(8))
print('Call4:', add())
print('Call5:', add(y=8))
print('Call6:', add(y=5,x=9,z=3))

Call1: 20
Call2: 19
Call3: 17
Call4: 14
Call5: 15
Call6: 17

#### Variable length arguments

In [123]:
def show(*data):
    for a in data:
        print(a, end=' ')

In [125]:
show(34, 67, 'hello', True)

34 67 hello True

In [126]:
def concat(*sent):
    x=''
    for s in sent:
       x += s
    return x

In [127]:
concat('hello','world')

'helloworld'

In [128]:
def calc(n):
    sq = n * n
    cu = n ** 3
    return sq, cu

In [129]:
print(calc(5))

(25, 125)

In [130]:
x, y = calc(8)

In [131]:
x

64

In [134]:
p, r = 56, 45, 23

ValueError: too many values to unpack (expected 2)

In [133]:
p

(56, 45, 23)

#### lambda functions

In [136]:
square = lambda x: x * x

In [137]:
square(5)

25

In [138]:
num = [56,32,67,84,15,37,88,97]

In [139]:
list(map(lambda x : x / 2, num))

[28.0, 16.0, 33.5, 42.0, 7.5, 18.5, 44.0, 48.5]

In [140]:
list(filter(lambda x : x > 50, num))

[56, 67, 84, 88, 97]

In [147]:
c = 4

def show():
    global c
    print('Value1:', c)
    c += 1
    
show()
print('Value2:', c)

Value1: 4
Value2: 5

In [152]:
num = 0o23

In [153]:
num

19

In [157]:
print('%d' %num)

19

#### modules

In [159]:
import math

In [160]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [161]:
math.sqrt(56)

7.483314773547883

In [162]:
math.pi

3.141592653589793

In [163]:
math.e

2.718281828459045

In [164]:
import math as m

In [165]:
m.sqrt(56)

7.483314773547883

In [166]:
from math import sqrt, pi, log

In [167]:
sqrt(9)

3.0

In [168]:
pi

3.141592653589793